@-webkit-keyframes cell-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body>header {
    width: 100%;
    height: 56px;
    background-color: #2A8BBF;
}

body>header .icon {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 36px;
    width: 36px;
    height: 36px;
    background: url(../images/icon-1.png) no-repeat;
}
body>header .search {
    display: inline-block;
    position: relative;
    left: 60%;
}
body>header .search input[type="text"] {
    border: none;
    outline: none;
    width: 300px;
    height: 26px;
    background: url("../images/icon-4.png") no-repeat 6% 5px #ffffff;
    padding-left: 12%;
    box-sizing: border-box;
    border-radius:20px;
}
body>header .login {
    position: relative;
    left: 88%;
    top: -20px;
    font-size: 12px;
    color: #ffffff;
    width: 70px;
}
body>header .login .fa {
    color: #ffffff;
}

.container {
    width:100%;
    font-family: "Microsoft YaHei";
    font-size: 0;
}

.container .content-l {
    width:20%;
    background-color: #2B2E3C;
    height: 1300px;
    float:left;
}
.container .content-l .user {
    height: 150px;
    width: 100%;
}
.container .content-l .user .img {
    width: 100%;
    background: url("../images/icon-2.png") no-repeat 60px 18px;
    height: 90px;
    text-align: center;
}
.container .content-l .user .img span {
    line-height: 90px;
    font-size: 14px;
    color:#E6E4E6;
    margin-left: 60px;
    position: relative;
}
.container .content-l .user .mes {
    width: 100%;
    height: 60px;
    color:#657486;
}
.container .content-l .user .mes .mes-l,.container .content-l .user .mes .mes-r {
    width: 50%;
    height: 28px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    font-size: 12px;
}
.container .content-l .user .mes .mes-l {
    border-right: 1px solid #5C5F74;
}
.container .content-l .user .mes .mes-r {
    border-left: 1px solid #5C5F74;
}

.container .content-l .user .mes .mes-l span:first-child {
    position: relative;
    left: 20px;
}
.container .content-l .user .mes .mes-r span:last-of-type{
    position: relative;
    right: 20px;
}
.container .content-l .cells {
    width: 100%;
    color: #586576;
}
.container .content-l .cells .cell-1 {
    position: relative;
    /*color: #000;*/
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    padding-left: 15%;
}
.container .content-l .cells .cell-1
.container .content-l .cells .cell-1>i {
    width: 20px;
    margin: 0 8px;
    text-align: center;
}
.container .content-l .cells .cell-1>input {
    width: 85%;
    height: 30px;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.container .content-l .cells .cell-1:hover{
    background-color: #373D4D;
}
.container .content-l .cells .cell-1>i,
.container .content-l .cells .cell-1 span {
    height: 30px;
    line-height: 30px;
}
.container .content-l .cells .cell-1:hover>i,
.container .content-l .cells .cell-1:hover>span,
.container .content-l .cells .cell-1>input:checked~i,
.container .content-l .cells .cell-1>input:checked~span{
    color: #EDEDEF;
}
.container .content-l .cells .cell-1 input {
    opacity:0;
}
.container .content-l .cells .cell-3 {
    padding-left: 20%;
}
.container .content-l .cells .cell-1 .cell-2 {
    display: none;
    padding-left: 10%;
    position: relative;
}
.container .content-l .cells .cell-1 .cell-2>input{
    width: 90%;
    height: 30px;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.container .content-l .cells .cell-1 .cell-2>i{
    /*margin: 0 6px;*/
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.container .content-l .cells .cell-1>input:checked~.cell-2 {
    display: block;
    animation: cell-in 0.5s ease-in-out;
    -webkit-animation: cell-in 0.5s ease-in-out;
}
.container .content-l .cells .cell-1 .cell-2:hover>i,
.container .content-l .cells .cell-1 .cell-2:hover>span,
.container .content-l .cells .cell-1 .cell-2>input:checked~i,
.container .content-l .cells .cell-1 .cell-2>input:checked~span{
    color: #ededef;
}
.container .content-l .cells .cell-1 .cell-3 {
    display: none;
    padding-left: 10%;
    position: relative;
}
.container .content-l .cells .cell-1 .cell-3>input{
    width: 80%;
    height: 30px;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.container .content-l .cells .cell-1 .cell-3:hover>i,
.container .content-l .cells .cell-1 .cell-3:hover>span,
.container .content-l .cells .cell-1 .cell-3>input:checked~i,
.container .content-l .cells .cell-1 .cell-3>input:checked~span{
    color: #ededef;
}
.container .content-l .cells .cell-1 .cell-2>input:checked~.cell-3 {
    display: block;
    -webkit-animation: cell-in 0.5s ease-in-out;
    -o-animation: cell-in 0.5s ease-in-out;
    animation: cell-in 0.5s ease-in-out;
}
.container .content-r {
    width: 80%;
    height: 1300px;
    float: right;
    font-size: 0;
    background-color: #EDEDED;
}
.container .content-r header {
    background-color: #ffffff;
    width: 100%;
    height: 30px;
}
.container .content-r header span {
    padding-left: 20px;
    font-size: 12px;
    line-height: 30px;
    color: #BABABA;
    width: 100%;
    height: 30px;
}
.container .content-r .content {
    margin: 0 auto;
    width: 890px;
}
.container .content-r .content-1 {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    height: 80px;
    font-size: 12px;
}
.container .content-r .content-1 .cell-1 {
    width: 20%;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    line-height: 80px;
}
.container .content-r .content-1 .cell-2 {
    width: 20%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 30px;
    margin: 10px 0;
    background: url(../images/icon-3.png) no-repeat 88% 10px;

}
.container .content-r .content-1 .cell-3 {
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    margin: 10px 0;
    text-align: left;
}
.container .content-r .content-1 .cell-4 {
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 80px;
}
.container .content-r .content-1 select {
    height: 22px;
    line-height: 20px;
    font-size: 12px;
    outline: 0;
    border-radius: 0;
    border-color: #D7D7D7;
    box-sizing: border-box;
    padding-left: 5px;
    -webkit-appearance: none;
    background: url(../images/icon-5.png) no-repeat 93% 7px;
    -webkit-appearance: none;
}
.container .content-r .content-1>div[class^="cell-"]:not(:last-of-type)>span {
    color: #C3C3C3;
}
.container .content-r .content-1>div[class^="cell-"]:not(:last-of-type)>select {
    margin: 0 10px;
}
.container .content-r .content-1 .cell-1 select {
    width: 45%;
}
.container .content-r .content-1 .cell-2 select {
    width: 51%;
}
.container .content-r .content-1 .cell-3 input{
    margin:0 10px;
}
.container .content-r .content .content-1 .cell-3>select:nth-of-type(1){
    width: 16%;
}
.container .content-r .content .content-1 .cell-3>select:nth-of-type(2){
    width: 20%;
}
.container .content-r .content .content-1 .cell-3>select:nth-of-type(3){
    width: 32%;
}
.container .content-r .content .content-1 .cell-4 input[type="submit"]{
    background-color: #3D8CBF;
    width: 50px;
    height: 26px;
    color: #ffffff;
    border: 0;
}
.container .content-r .content .content-2 {
    box-sizing: border-box;
    width: 890px;
    height: 70px;
    margin-top: 10px;
}
.container .content-r .content .content-2 .to-l,
.container .content-r .content .content-2 .to-r{
    display: inline-block;
    margin-right: 6px;
    height: 100%;
    font-size: 40px;
    width: 30px;
    color:#A9A9A9;
    background-color: #ffffff;
    text-align: center;
    vertical-align: top;

}
.container .content-r .content .content-2 .cell {
    margin-right: 6px;
    background-color: #ffffff;
    width: 110px;
    text-align: center;
    height: 100%;
    font-size: 12px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 28px;

    /*width: 12%;*/
    /*line-height: 27px;*/
    /*margin-right: 0.5%;*/
    /*padding: 5px 0;*/
    /*border-top: 3px solid #fff;*/
    /*cursor: pointer;*/

    border-top: 3px solid #fff;
    cursor: pointer;

    -webkit-transition: border-color 0.5s ease-in-out;
    -moz-transition: border-color 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out;
}
.container .content-r .content .content-2 .cell:hover {
    border-top: 3px solid #4388C9;
}
.container .content-r .content .content-2 .cell span:first-child {
    font-size: 12px;
}
.container .content-r .content .content-2 .cell span:nth-of-type(2){
    color:#A9A9A9;
    font-size: 14px;
}
.container .content-r .content .content-2 .cell span:nth-of-type(2)>span {
    color:#E9631B;
    font-size:20px;
}
.container .content-r .content .content-2 .history {
    display: inline-block;
    width: 120px;
    height: 100%;
    font-size: 12px;
    line-height: 70px;
    text-align: center;
    vertical-align: top;
    background-color: #ffffff;
}
.container .content-r .content .content-2 .history>i {
    margin-right: 4px;
    font-size: 34px;
}
.container .content-r .content .content-2 .history>span{
    color:#7B7B7B;
}
.container .content-r .content .content-3 {
    margin-top: 10px;
    width: 100%;
    height: 90px;
}
.container .content-r .content .content-3 .cell {
    display: inline-block;
    box-sizing: border-box;
    width: 23%;
    margin-right: 2%;
    height: 100%;
    background-color: #ffffff;
}